#episodesGrid {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  gap: 30px;
}

.episodeCard {
  width: 350px;
  background: white;
  border-radius: 12px;
  padding: 20px;
  border: 2px solid #ddd;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

.episodeCard h2 {
  margin: 0 0 15px 0;
  text-align: center;
  font-size: 20px;
}

.episodeCard img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.episodeCard p {
  font-size: 14px;
  line-height: 1.5;
}
